body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.body > * {
    height: 340px;
}

.first-quarter {
   
    background-color: #1F2937;
    padding-bottom: 40px;
    border: 2px solid green;
}

.second-quarter {
    border: 1px solid red;
    padding-top: 20px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
}

.sub-header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
}

.header-right {
    display: flex;
    gap: 1rem;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

.header-link {
    text-decoration: none;
    color: lightslategray;
    
}

.hero-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
   
    align-items: center;
}

.hero {
    display: flex;
    
    padding-left: 80px;
    padding-right: 80px;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    background-color: #1F2937;
  
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.hero .subtext {
    display: flex;
    color: #e5e7eb;
    
    flex-wrap: wrap;
    
    font-size: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-size: 28px;
    
   
}

.hero-image {
    display: flex;
    width: auto;
    height: 220px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 4px 10px;
    width: fit-content;
}

.images {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    gap: 52px;
    margin-left: 80px;
    margin-right: 80px;
}

.content-images img {
    display: flex;
    max-width: 150px;
    height: 150px;
    border: 3px solid lightskyblue;
    border-radius: 10px;
}